.calculatorContainerTotal {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  height: 340px;
}
.calculatorContainer {
  width: 400px;
  height: 100%;
  border-radius: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  z-index: 2;
  transition: background-color 0.3s ease-in-out;
}
.calculatorContainer p {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  color: #008fd2;
}
.calculatorDataSetter {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.inputLabel {
  position: relative;
  display: flex;
  align-items: center;
}
.calcInput {
  width: 150px;
  border: none;
  border-radius: 10px;
  padding: 10px;
  outline: none;
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
  font-size: 14px;
}
.calcInput::placeholder {
  color: inherit;
  font-size: 14px;
  font-weight: 400;
  font-family: "montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.inputIcon {
  position: absolute;
  right: 9px;
  height: auto;
  width: 20px;
  stroke-width: 2;
  transition: stroke 0.3s ease-in-out;
}
.deleteInputCalculator {
  background: none;
  border: none;
  cursor: pointer;
}
.deleteInputCalculatorIcon {
  width: 23px;
  height: auto;
  stroke: rgb(255, 0, 0);
  transition: transform 0.3s ease-in-out, stroke 0.3s ease-in-out;
  transform: rotate(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  stroke-width: 2;
}
.deleteInputCalculator:hover .deleteInputCalculatorIcon {
  transform: scale(110%) rotate(180deg);
  stroke: rgb(255, 87, 87);
}
.deleteInputCalculatorIconX {
  transition: transform 0.2s ease-in-out;
  transform-origin: 50% 50%;
}
.deleteInputCalculator:hover .deleteInputCalculatorIconX {
  transform: rotate(-360deg);
}
.totalResult {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
}
.mostPercentContainerSection {
  position: relative;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  width: 400px;
  transition: background-color 0.3s ease-in-out;
}
.mostPercentContainerSection h2 {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  color: #008fd2;
}
.mostPercentContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.mostPerrcentList {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
}
.mostPercentBox {
  width: 43px;
  height: 43px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out,
    border-radius 0.3s ease-in-out;
}
.mostPercentBox:hover {
  background-color: #008fd2 !important;
  color: #fff !important;
  border-radius: 5px;
}
.mostPercentBox p {
  font-weight: 400;
  font-size: 14px;
}
.percentSelected {
  background-color: #008fd2 !important;
  color: #fff !important;
  border-radius: 10px;
}
.calculatorSeparator {
  width: 2px;
  height: 41px;
  background-color: #008fd2;
  margin-right: 22px;
}
