.DonwloadDataButton {
  width: 24px;
  height: 24px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
.DonwloadIcon {
  stroke-width: 2;
  transition: stroke 0.2s ease-in-out;
}
