.DDContainer {
  width: fit-content;
  position: relative;
  display: flex;
  justify-content: center;
}
.DDButton {
  appearance: button;
  -webkit-appearance: button;
  border: none;
  border-radius: 15px;
  padding: 5.5px 5.5px;
  font-weight: 700;
  cursor: pointer;
  text-align: left;
  transition: background-color 0.2s ease-in-out, border-radius 0.2s ease-in-out;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  width: 43px;
  height: 43px;
  z-index: 1;
}
.DDContent {
  position: absolute;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  top: 65px;
  right: 0px;
  width: fit-content;
  height: fit-content;
  min-width: 302px;
  overflow: hidden;
  backdrop-filter: blur(15px) saturate(200%);
  transition: background-color 0.3s ease-in-out;
  padding-left: 0px;
}
.DDContent::before {
  content: "";
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 257 257' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.6' numOctaves='2' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size: 182px;
  opacity: 0.05;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.DDContainerData {
  position: relative;
  width: fit-content;
  min-width: 302px;
  height: fit-content;
  display: flex;
  flex-direction: column;
}
.DDSection {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 13px;
}
.DDSectionThemeRadioContainerTotal {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.configSectionPercentP {
  font-size: 14px;
  font-weight: 400;
}
.DDSectionThemeRadioContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.DDSectionThemeRadio {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  box-sizing: border-box;
  border: solid 1px;
  width: 100%;
  font-size: 14px;
  transition: border-color 0.3s ease-in-out;
  background-color: transparent;
}
.DDSectionThemeRadio .DDradio {
  flex: 1 1 auto;
  text-align: center;
}
.DDSectionThemeRadio .DDradio input {
  display: none;
}
.DDSectionThemeRadio .DDradio .DDname {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: none;
  padding: 0.5rem 0;
  transition: all 0.15s ease-in-out;
  gap: 7px;
  font-size: 14px;
  font-weight: 400;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.ThemeIcon {
  width: 20px;
  height: 20px;
  stroke-width: 2;
  overflow-y: visible;
  transition: stroke 0.3s ease-in-out;
}
.DDButton:hover .MoreIcon {
  stroke: #008fd2 !important;
}
.MoonIconMoon {
  transform-origin: 50% 50%;
  transition: transform 0.5s ease-in-out, stroke-width 0.5s ease-in-out;
}
.MoonIconWorld {
  transform: translateY(10px);
  transform-origin: 50% 50%;
  transition: transform 0.5s ease-in-out;
}
.configSectionThemeRadio .radio .name:hover .MoonIconWorld {
  transform: none !important;
}
.configSectionThemeRadio .radio .name:hover .MoonIconMoon {
  transform: scale(80%) !important;
  stroke-width: 2.5 !important;
}
.SunIconRay {
  transform-origin: 50% 50%;
  transition: filter 0.3s ease-in-out;
}
.SunIconCloud {
  transform: scale(80%) translateY(7px) translateX(27px);
  transform-origin: 50% 50%;
}
.configSectionThemeRadio .radio .name:hover .SunIconCloud {
  animation: cloudMove 20s linear infinite 3s !important;
}
@keyframes cloudMove {
  0% {
    transform: scale(80%) translateY(7px) translateX(27px);
  }
  30% {
    transform: scale(80%) translateY(7px) translateX(-27px);
  }
  100% {
    transform: scale(80%) translateY(7px) translateX(-27px);
  }
}
.configSectionThemeRadio .radio .name:hover .SunIconRay {
  animation: configSun 20s linear infinite !important;
  filter: blur(0.3px) !important;
}
@keyframes configSun {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.MoreIcon {
  transition: stroke 0.3s ease-in-out;
  stroke-width: 3;
}
.ConfigIcon {
  transition: stroke 0.3s ease-in-out;
  width: 20px;
  stroke-width: 2;
}
.DDSeparator {
  height: 1px;
  transition: background-color 0.3s ease-in-out;
}
.DDSectionButton {
  border: none;
  cursor: pointer;
  height: 35px;
  border-radius: 10px;
  width: 100%;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
  transition: background-color 0.2s ease-in-out;
}
.DDSectionButton p {
  font-weight: 500;
  font-size: 15px;
}
.DDFooter {
  font-size: 12px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 18px;
  text-align: left;
  transition: background-color 0.3s ease-in-out;
}
