.homeContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100lvh;
  gap: 30px;
}
.blurredbg {
  position: absolute;
  width: 60%;
  height: 260px;
  pointer-events: none;
  border-radius: 100px 100px 100px 100px;
  opacity: 0.3;
  top: -420px;
  box-shadow: #008fd2 0px 260px 300px;
  transition: opacity 1.5s cubic-bezier(0.17, 0.17, 0, 1) 0s,
    box-shadow 3s ease-in-out;
  z-index: 0;
  animation: blurredbg 30s ease-in-out infinite;
}
.blurredbgact {
  box-shadow: #ff0000 20px 250px 300px;
}
@keyframes blurredbg {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.3;
  }
}

@media screen and (max-width: 815px) {
  .homeContainer {
    flex-direction: column;
    margin-top: 100px;
  }
}
