.homeContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100lvh;
  gap: 30px;
}

@media screen and (max-width: 815px) {
  .homeContainer {
    flex-direction: column;
    margin-top: 100px;
  }
}
