.addButtonsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.addButtonCircle {
  border: none;
  background: none;
}
.addCircle {
  color: rgb(57, 99, 25);
  width: 50px;
  height: auto;
  cursor: pointer;
  transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}
.addCircle:hover {
  color: rgb(112, 205, 40);
  transform: scale(110%);
}

.deleteCircle {
  color: rgb(121, 8, 8);
  width: 50px;
  height: auto;
  cursor: pointer;
  transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.deleteCircle:hover {
  color: rgb(255, 87, 87);
  transform: scale(110%);
}
