.addButtonsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.addButtonCircle {
  border: none;
  background: none;
  cursor: pointer;
}
.addCircle {
  color: rgb(57, 99, 25);
  width: 30px;
  height: auto;
  transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}
.addButtonCircle:hover .addCircle {
  color: rgb(112, 205, 40);
  transform: scale(110%);
}

.deleteCircle {
  color: rgb(121, 8, 8);
  width: 30px;
  height: auto;
  cursor: pointer;
  transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.addButtonCircle:hover .deleteCircle {
  color: rgb(255, 87, 87);
  transform: scale(110%);
}

.locked {
  opacity: 0.5;
  pointer-events: none;
}

@media screen and (max-width: 815px) {
  .addButtonsContainer {
    flex-direction: row;
  }
}
