.addButtonsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.addButtonCircle {
  border: none;
  background: none;
  cursor: pointer;
}
.addCircle {
  stroke: rgb(57, 99, 25);
  width: 30px;
  height: auto;
  transition: stroke 0.2s ease-in-out, transform 0.2s ease-in-out,
    stroke-width 0.2s ease-in-out;
  stroke-width: 2;
  overflow: visible;
}
.addButtonCircle:hover .addCircle {
  stroke: rgb(87, 173, 22);
  transform: scale(110%);
  stroke-width: 1.5;
}

.AddIconPlus {
  transition: transform 0.2s ease-in-out, stroke-width 0.2s ease-in-out;
  transform-origin: 50% 50%;
}
.addButtonCircle:hover .AddIconPlus {
  transform: scale(1.3);
}

.deleteCircle {
  stroke: rgb(121, 8, 8);
  width: 30px;
  height: auto;
  cursor: pointer;
  transition: stroke 0.2s ease-in-out, transform 0.2s ease-in-out,
    stroke-width 0.2s ease-in-out;
  stroke-width: 2;
  overflow: visible;
}

.addButtonCircle:hover .deleteCircle {
  stroke: rgb(255, 87, 87);
  transform: scale(110%);
  stroke-width: 1.5;
}

.DeleteIconLid {
  transition: transform 0.2s ease-in-out;
}

.addButtonCircle:hover .DeleteIconLid {
  transform: translateY(-3px) rotate(-5deg) translateX(-1px);
}

.locked {
  opacity: 0.2;
  pointer-events: none;
}

@media screen and (max-width: 815px) {
  .addButtonsContainer {
    flex-direction: row;
  }
}
