.calculatorContainer {
  background-color: rgb(255, 255, 255);
  width: 400px;
  height: fit-content;
  border-radius: 20px;
  box-shadow: rgba(12, 20, 66, 0.02) 0px 4px 12px,
    rgba(12, 20, 66, 0.08) 0px 30px 80px,
    rgb(230, 233, 237) 0px 0px 0px 0px inset;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  gap: 15px;
}
.calculatorContainer h2 {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  color: #008fd2;
}
.calculatorDataSetter {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.inputIcon {
  position: absolute;
  right: 9px;
  height: auto;
  width: 15px;
  color: rgb(134, 134, 134);
}
.inputLabel {
  position: relative;
  display: flex;
  align-items: center;
}
.calcInput {
  width: 150px;
  border: none;
  background-color: rgb(236, 239, 242);
  border-radius: 10px;
  padding: 10px;
  outline: none;
  transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
  color: rgb(134, 134, 134);
}
.calcInput::placeholder {
  color: rgb(134, 134, 134);
}
.calcInput:hover {
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(12, 20, 66, 0.05),
    0px 10px 40px rgba(12, 20, 66, 0.06),
    inset 0px -1px 2px rgba(12, 20, 66, 0.08);
}
.calcInput:focus {
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(12, 20, 66, 0.05),
    0px 10px 40px rgba(12, 20, 66, 0.06),
    inset 0px -1px 2px rgba(12, 20, 66, 0.08);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.totalResult {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  color: rgb(134, 134, 134);
}
.deleteInputCalculator {
  background: none;
  border: none;
  cursor: pointer;
}
.deleteInputCalculatorIcon {
  width: 25px;
  height: auto;
  color: rgb(121, 8, 8);
  transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
.deleteInputCalculator:hover .deleteInputCalculatorIcon {
  transform: scale(110%);
  color: rgb(255, 87, 87);
}

.mostPercentContainerSection {
  background-color: #fff;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  width: 400px;
  box-shadow: rgba(12, 20, 66, 0.02) 0px 4px 12px,
    rgba(12, 20, 66, 0.08) 0px 30px 80px,
    rgb(230, 233, 237) 0px 0px 0px 0px inset;
}

.mostPercentContainerSection h2 {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  color: #008fd2;
}

.mostPercentContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.mostPercentBox {
  background-color: rgb(236, 239, 242);
  border-radius: 100%;
  padding: 15px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.4s ease-in-out,
    border-radius 0.3s ease-in-out;
  color: rgb(134, 134, 134);
}
.mostPercentBox:hover {
  background-color: #008fd2;
  color: #fff;
  border-radius: 10px;
}
.mostPercentBox p {
  font-weight: 600;
}
.percentSelected {
  background-color: #008fd2;
  color: #fff;
}
