.ConfigMostPercentBoxContainer {
  background-color: rgba(245, 247, 250, 0.9);
  width: 35px;
  height: 35px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(142, 147, 154);
  cursor: pointer;
  font-size: 16px;
  font-family: "montserrat";
}

.ConfigMostPercentBoxContainer input {
  width: 35px;
  height: 35px;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  background-color: rgba(245, 247, 250, 0.9);
  color: rgb(142, 147, 154);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  padding: 0;
  text-align: center;
}
