.configDDContainer {
  width: fit-content;
  position: relative;
  display: flex;
  justify-content: center;
}
.configDDButton {
  appearance: button;
  -webkit-appearance: button;
  border: none;
  border-radius: 15px;
  padding: 5.5px 5.5px;
  font-weight: 700;
  cursor: pointer;
  text-align: left;
  transition: background-color 0.2s ease-in-out, border-radius 0.2s ease-in-out;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  width: 43px;
  height: 43px;
  z-index: 1;
}
.configDDSelected {
  z-index: 0;
}
.configDDContent {
  position: absolute;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  top: 65px;
  right: 0px;
  width: fit-content;
  height: fit-content;
  min-width: 302px;
  overflow: hidden;
  backdrop-filter: blur(15px) saturate(200%);
}
.configDDContent::before {
  content: "";
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 257 257' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.6' numOctaves='2' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size: 182px;
  opacity: 0.05;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.ConfigIcon {
  width: 24px;
  height: auto;
  stroke-width: 2;
  transition: stroke 0.2s ease-in-out, transform 0.2s ease-in-out;
}
.configDDButton:hover .ConfigIcon {
  stroke: #008fd2 !important;
  transform: scale(110%);
}
.ConfigIconGear {
  transform-origin: 50% 50%;
  transition: transform 1s ease-in-out;
}
.configDDButton:hover .ConfigIconGear {
  transform: rotate(-360deg);
}
.configContainer {
  position: relative;
  width: fit-content;
  min-width: 302px;
  height: 350px;
  display: flex;
  flex-direction: column;
}
.configHeader {
  height: 20%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 13px;
  padding-right: 13px;
}
.configHeader h2 {
  font-size: 12px;
  margin-left: 5px;
}
.configSection {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.configSectionPercent {
  position: relative;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 7px;
  padding: 13px;
  padding-bottom: 0;
}
.configSectionPercentP {
  font-size: 14px;
  margin-left: 5px;
}
.configSectionBoxes {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 10px;
  width: fit-content;
  border: solid 1px;
  padding: 7px;
  border-radius: 10px;
}
.configAddButton {
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  padding: 0;
  min-height: 0;
  min-width: 0;
  justify-content: center;
  align-items: center;
}
.configAddButton:hover .PlusConfig {
  stroke: #008fd2 !important;
}
.PlusConfigBox {
  transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out;
  transform-origin: 50% 50%;
}
.configAddButton:hover .PlusConfigBox {
  transform: scale(0%);
  filter: blur(3px);
}
.PlusConfigPlus {
  transition: transform 0.2s ease-in-out;
  transform-origin: 50% 50%;
}
.configAddButton:hover .PlusConfigPlus {
  transform: scale(170%);
}
.PlusConfig {
  width: 35px;
  height: 25px;
  stroke-width: 2;
  transition: stroke 0.2s ease-in-out;
}

.configSectionThemeRadioContainerTotal {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 13px;
}

.configSectionThemeRadioContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.configSectionThemeRadio {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  box-sizing: border-box;
  border: solid 1px;
  width: 100%;
  font-size: 14px;
}

.configSectionThemeRadio .radio {
  flex: 1 1 auto;
  text-align: center;
}

.configSectionThemeRadio .radio input {
  display: none;
}

.configSectionThemeRadio .radio .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: none;
  padding: 0.5rem 0;
  color: rgba(51, 65, 85, 1);
  transition: all 0.15s ease-in-out;
  gap: 5px;
}
.ThemeIcon {
  width: 20px;
  height: 20px;
  stroke-width: 2;
  overflow-y: visible;
}
.SunIconRay {
  transform-origin: 50% 50%;
  transition: filter 0.3s ease-in-out;
}
.SunIconCloud {
  transform: scale(80%) translateY(7px) translateX(27px);
  transform-origin: 50% 50%;
}
.configSectionThemeRadio .radio .name:hover .SunIconCloud {
  animation: cloudMove 20s linear infinite 3s !important;
}
@keyframes cloudMove {
  0% {
    transform: scale(80%) translateY(7px) translateX(27px);
  }
  30% {
    transform: scale(80%) translateY(7px) translateX(-27px);
  }
  100% {
    transform: scale(80%) translateY(7px) translateX(-27px);
  }
}
.configSectionThemeRadio .radio .name:hover .SunIconRay {
  animation: configSun 20s linear infinite !important;
  filter: blur(0.3px) !important;
}
@keyframes configSun {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.MoonIconWorld {
  transform: translateY(10px);
  transform-origin: 50% 50%;
  transition: transform 0.5s ease-in-out;
}
.configSectionThemeRadio .radio .name:hover .MoonIconWorld {
  transform: none !important;
}
.MoonIconMoon {
  transform-origin: 50% 50%;
  transition: transform 0.5s ease-in-out, stroke-width 0.5s ease-in-out;
}
.configSectionThemeRadio .radio .name:hover .MoonIconMoon {
  transform: scale(80%) !important;
  stroke-width: 2.5 !important;
}
.confiSeparator {
  height: 1px;
}
.configFooter {
  font-size: 12px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 18px;
  text-align: left;
}
