.labelContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.labelData {
  background-color: rgb(236, 239, 242);
  width: 85%;
  height: 50px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.labelContainer p {
  margin-left: 20px;
  margin-right: 20px;
}
.labelButton {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.labelIcon {
  width: 40%;
  height: auto;
  color: rgb(255, 87, 87);
  cursor: pointer;
}
