.totalWindowLabelContainerTotal {
  width: 80%;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 10px;
}
.totalWindowLabelContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
}
.totalWindowLabel {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-top: 2px;
  padding-bottom: 2px;
  height: 30px;
  border-radius: 10px;
}
.totalWindowDailyLabel {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  padding-top: 2px;
  padding-bottom: 2px;
  height: 30px;
  border-radius: 10px;
  margin-top: 10px;
}
.totalWindowDailyLabelTop {
  width: 80%;
  border-radius: 10px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.totalWindowDailyLabelTop p {
  font-weight: 400;
}
.totalWindowDailyDeleteButton {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  right: 5px;
}
.totalWindowDailyDeleteIcon {
  width: 15px;
  height: auto;
  stroke-width: 2;
  transition: opacity 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.3;
  overflow: visible;
}

.totalWindowDailyDeleteButton:hover .totalWindowDailyDeleteIcon {
  opacity: 1;
}
.totalWindowDailyDeleteButton:hover .labelIconLid {
  transform: translateY(-7px) translateX(3px) rotate(10deg);
}
.hiddenSwitch {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
}
.labelHiddenSwitch {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 10px;
}
.labelHiddenSwitch:hover .hiddenSwitchIcon {
  opacity: 1;
}
.hiddenSwitchIcon {
  width: 20px;
  height: auto;
  stroke-width: 2;
  opacity: 0.5;
  cursor: pointer;
  z-index: 1;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.arrowIconContainer {
  height: 20px;
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  transform-origin: 50% 50%;
}
.arrowIconAct {
  opacity: 1;
  transform: rotate(180deg);
}

.accordionContainer {
  max-height: 0px;
  overflow: hidden;
  opacity: 0;
  transition: opacity 1s ease-in-out, max-height 0.5s ease-in-out;
}

.accAct {
  max-height: 300px;
  opacity: 1;
}

.hiddenTotalWindow {
  display: flex;
  flex-direction: column;
  width: 60%;
  max-height: 0px;
  overflow: hidden;
}
.hiddenTotalWindowActived {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 95%;
  height: fit-content;
  max-height: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0 0 10px 10px;
  margin-bottom: 0px;
  overflow: hidden;
  overflow-y: auto;
  overflow-anchor: none;
  border: 1px solid;
  border-top: none;
}

.hiddenTotalWindowActived::-webkit-scrollbar {
  width: 7px;
}
.hiddenTotalWindowActived::-webkit-scrollbar-track {
  background: rgb(236, 239, 242);
  border-radius: 3px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.hiddenTotalWindowActived::-webkit-scrollbar-thumb {
  background: rgb(201, 204, 207);
  border-radius: 3px;
}
.hiddenTotalWindowActived::-webkit-scrollbar-thumb:hover {
  background: rgb(142, 183, 202);
}
