.totalWindowLabelContainerTotal {
  width: 80%;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 10px;
}
.totalWindowLabelContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
}
.totalWindowLabel {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-top: 2px;
  padding-bottom: 2px;
  height: 30px;
  border-radius: 10px;
  background-color: rgb(236, 239, 242);
}
.totalWindowDailyLabel {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  padding-top: 2px;
  padding-bottom: 2px;
  height: 30px;
  border-radius: 10px;
  background-color: rgb(236, 239, 242);
  margin-top: 10px;
}
.totalWindowDailyLabelTop {
  width: 80%;
  background-color: rgb(0, 143, 210, 0.5);
  border-radius: 10px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.totalWindowDailyLabelTop p {
  font-weight: 400;
}
.totalWindowDailyDeleteButton {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  right: 5px;
}
.totalWindowDailyDeleteIcon {
  width: 15px;
  height: auto;
  color: rgb(134, 134, 134);
  transition: opacity 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.3;
}
.totalWindowDailyDeleteButton:hover .totalWindowDailyDeleteIcon {
  opacity: 1;
}
.hiddenSwitch {
  position: absolute;
  opacity: 0;
  visibility: 0;
  width: 100%;
  height: 100%;
}
.labelHiddenSwitch {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 10px;
}
.hiddenSwitchIcon {
  color: rgb(134, 134, 134);
  opacity: 0.3;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  cursor: pointer;
  z-index: 1;
}
.actHiddenIcon {
  color: rgb(134, 134, 134);
  opacity: 1;
  transform: rotate(180deg);
}
.hiddenTotalWindow {
  display: flex;
  flex-direction: column;
  width: 60%;
  max-height: 0px;
  overflow: hidden;
}
.hiddenTotalWindowActived {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;
  width: 95%;
  height: fit-content;
  max-height: 150px;
  overflow-y: auto;
  background-color: rgb(0, 143, 210, 0.2);
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0 0 10px 10px;
  margin-bottom: 0px;
}

.hiddenTotalWindowActived::-webkit-scrollbar {
  width: 7px;
}
.hiddenTotalWindowActived::-webkit-scrollbar-track {
  background: rgb(236, 239, 242);
  border-radius: 3px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.hiddenTotalWindowActived::-webkit-scrollbar-thumb {
  background: rgb(201, 204, 207);
  border-radius: 3px;
}
.hiddenTotalWindowActived::-webkit-scrollbar-thumb:hover {
  background: rgb(142, 183, 202);
}
