.configSectionBoxes {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 10px;
  width: fit-content;
  border: solid 1px;
  padding: 7px;
  border-radius: 10px;
}
.configAddButton {
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  padding: 0;
  min-height: 0;
  min-width: 0;
  justify-content: center;
  align-items: center;
}
.configAddButton:hover .PlusConfig {
  stroke: #008fd2 !important;
}
.PlusConfigBox {
  transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out;
  transform-origin: 50% 50%;
}
.configAddButton:hover .PlusConfigBox {
  transform: scale(0%);
  filter: blur(3px);
}
.PlusConfigPlus {
  transition: transform 0.2s ease-in-out;
  transform-origin: 50% 50%;
}
.configAddButton:hover .PlusConfigPlus {
  transform: scale(170%);
}
.PlusConfig {
  width: 35px;
  height: 25px;
  stroke-width: 2;
  transition: stroke 0.2s ease-in-out;
}
